
<div class="row">
    <div class="col-md-8 mt-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Nouveau contact</h3>
                <form method="post">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">nom</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom" name="nom" >
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">prenom</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Prenom" name="prenom">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">tel</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="telephone" name="tel">
                      </div>

                    <button type="submit" class="btn btn-primary" >Valider</button>
                  </form>
            </div>
        </div>
    </div>
</div>