<div class="selling-left" id="div">
    <ul>
        <li>
            <span class="count-date">{{days}}</span>
            <span class="count-day">Days</span>
        </li>
        <li>
            <span class="count-date">{{hours}}</span>
            <span class="count-day">Hours</span>
        </li>
        <li>
            <span class="count-date">{{minutes}}</span>
            <span class="count-day">Mins</span>
        </li>
        <li>
            <span class="count-date">{{secs}}</span>
            <span class="count-day">seconds</span>
        </li>
    </ul>
    <ul>
        <li style="width: 150px;">
            <span class="count-date">{{newPrice}}Dh</span>
            <span class="count-day">{{reduction}}%</span>
        </li>
    </ul>
</div>
<div class="selling-left">Hello World</div>
