
<section class="register">
    <div class="container">
        <div class="input-group flex-nowrap" style="margin: 60px auto 0;width: 50%;">
                <span style="display: block;" class="input-group-text" id="addon-wrapping">@</span>
                <input style="display: block;"id="myInput" (keyup)="myFunc()" type="text" class="form-control" placeholder="Search..." aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div id="tab" style="margin: 0 auto ;width: 50%;">
                <div class="a" style="background-color: #fbd786;margin: 5px 0;border: 2px solid black;padding: 5px;">aa</div>
                <div class="a" style="background-color: #fbd786;margin: 5px 0;border: 2px solid black;padding: 5px;">bb</div>
                <div class="a" style="background-color: #fbd786;margin: 5px 0;border: 2px solid black;padding: 5px;">cc</div>
                <div class="a" style="background-color: #fbd786;margin: 5px 0;border: 2px solid black;padding: 5px;">dd</div>
                <div class="a" style="background-color: #fbd786;margin: 5px 0;border: 2px solid black;padding: 5px;">daa</div>
                <div class="a" style="background-color: #fbd786;margin: 5px 0;border: 2px solid black;padding: 5px;">dc</div>
            </div>
        </div>
</section>












<br>
<br>
<div data-aos="fade-right" style="width: 190px;height: 140px;background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);;border: 4px soolid black;margin-left: 100px;"></div>
<br>
<br>
<div data-aos="fade-up-right" style="width: 190px;height: 140px;background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);;border: 4px soolid black;margin-left: 100px;"></div>
<br>
<br>
<div data-aos="flip-left" style="width: 190px;height: 140px;background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);;border: 4px soolid black;margin-left: 100px;"></div>
<br>
<br>
<div data-aos="zoom-in" style="width: 190px;height: 140px;background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);;border: 4px soolid black;margin-left: 100px;"></div>
<br>
<br>
<div data-aos="fade-right" style="width: 190px;height: 140px;background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);;border: 4px soolid black;margin-left: 100px;"></div>
<br>
<br>
<div data-aos="fade-right" style="width: 190px;height: 140px;background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);;border: 4px soolid black;margin-left: 100px;"></div>
<br>
<br>
<div data-aos="fade-up" style="width: 190px;height: 140px;background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);;border: 4px soolid black;margin-left: 100px;"></div>

